<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

        backgroundColor="rgba(255, 255, 255, 1)"
        useFullscreenExpand="true"
        enableLooping="true"
        stagePadding="50"
        galleryTitlePosition="TOP"
        galleryTitleHAlign="CENTER"
        rememberPassword="false"
        captionBackColor="rgba(204,204,204,0.3)"
        buttonBarBackColor="rgba(204,204,204,0.5)"
        imageFrameColor="rgba(255,255,255,1)"
        thumbDotColor="rgba(255,255,255,0.4)"
        expandedBackgroundColor="rgba(255, 255, 255, 1)"
        imagePreloading="NEXT"
        imageShadowBlur="0"
        thumbSelectedFrameWidth="8"
        thumbCornerRadius="5"
        buttonBarPosition="OVERLAY"
        showAutoPlayButton="true"
        showDownloadButton="true"
        showEmailButton="true"
        emailAddress=""
        emailSubject=""
        buttonBarIconSize="15"
        captionPosition="BELOW_IMAGE"
        maxCaptionHeight="40"
        enableAutoPlay="true"
        autoPlayOnLoad="true"
        displayTime="3"
        goNextOnAutoPlay="true"
        shareFacebook="false"
        shareTwitter="false"
        shareGPlus="false"
        sharePinterest="false"
        watermarkHAlign="LEFT"
        watermarkVAlign="TOP"
        watermarkPath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/Firma inst-Infonavit 2019-Color negro 25%.png"
        useWatermark="true"
        backgroundUrl="https://infonavit.janium.net/janium/Imagenes2022/header.jpg"
        backgroundScale="NONE"
        buttonBarHAlign="CENTER"
        addSEOContent="false"
        showExpandButton="false"
        showThumbsButton="false"
        showSmallThumbsButton="true"
        showSmallPagingText="true"
        showOpenButton="false"

>
  <image imageURL="images/01_UH_Infonavit_Iztacalco.jpg"
	thumbURL="thumbs/01_UH_Infonavit_Iztacalco.jpg"
	linkURL="images/01_UH_Infonavit_Iztacalco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/01_UH_Infonavit_Iztacalco.jpg">
    <title><![CDATA[01_UH_Infonavit_Iztacalco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/02_UH_Infonavit_Iztacalco.jpg"
	thumbURL="thumbs/02_UH_Infonavit_Iztacalco.jpg"
	linkURL="images/02_UH_Infonavit_Iztacalco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/02_UH_Infonavit_Iztacalco.jpg">
    <title><![CDATA[02_UH_Infonavit_Iztacalco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/03_UH_Infonavit_Santa_Fe.jpg"
	thumbURL="thumbs/03_UH_Infonavit_Santa_Fe.jpg"
	linkURL="images/03_UH_Infonavit_Santa_Fe.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/03_UH_Infonavit_Santa_Fe.png">
    <title><![CDATA[03_UH_Infonavit_Santa_Fe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/04_UH_Infonavit_Santa_Fe.jpg"
	thumbURL="thumbs/04_UH_Infonavit_Santa_Fe.jpg"
	linkURL="images/04_UH_Infonavit_Santa_Fe.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/04_UH_Infonavit_Santa_Fe.png">
    <title><![CDATA[04_UH_Infonavit_Santa_Fe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/05_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/05_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/05_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/05_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[05_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/06_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/06_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/06_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/06_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[06_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/07_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/07_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/07_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/07_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[07_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/08_UH_Infonavit_San_Pablo_Xalpa.jpg"
	thumbURL="thumbs/08_UH_Infonavit_San_Pablo_Xalpa.jpg"
	linkURL="images/08_UH_Infonavit_San_Pablo_Xalpa.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/08_UH_Infonavit_San_Pablo_Xalpa.jpg">
    <title><![CDATA[08_UH_Infonavit_San_Pablo_Xalpa]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/09_UH_Infonavit_San_Pablo_Xalpa.jpg"
	thumbURL="thumbs/09_UH_Infonavit_San_Pablo_Xalpa.jpg"
	linkURL="images/09_UH_Infonavit_San_Pablo_Xalpa.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/09_UH_Infonavit_San_Pablo_Xalpa.jpg">
    <title><![CDATA[09_UH_Infonavit_San_Pablo_Xalpa]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/10_UH_Infonavit_San_Francisco.jpg"
	thumbURL="thumbs/10_UH_Infonavit_San_Francisco.jpg"
	linkURL="images/10_UH_Infonavit_San_Francisco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/10_UH_Infonavit_San_Francisco.jpg">
    <title><![CDATA[10_UH_Infonavit_San_Francisco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/11_UH_Infonavit_San_Francisco.jpg"
	thumbURL="thumbs/11_UH_Infonavit_San_Francisco.jpg"
	linkURL="images/11_UH_Infonavit_San_Francisco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/11_UH_Infonavit_San_Francisco.jpg">
    <title><![CDATA[11_UH_Infonavit_San_Francisco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/12_UH_Infonavit_San_Francisco.jpg"
	thumbURL="thumbs/12_UH_Infonavit_San_Francisco.jpg"
	linkURL="images/12_UH_Infonavit_San_Francisco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/12_UH_Infonavit_San_Francisco.jpg">
    <title><![CDATA[12_UH_Infonavit_San_Francisco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/13_UH_Infonavit_San_Francisco.jpg"
	thumbURL="thumbs/13_UH_Infonavit_San_Francisco.jpg"
	linkURL="images/13_UH_Infonavit_San_Francisco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/13_UH_Infonavit_San_Francisco.jpg">
    <title><![CDATA[13_UH_Infonavit_San_Francisco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/14_UH_Infonavit_San_Francisco.jpg"
	thumbURL="thumbs/14_UH_Infonavit_San_Francisco.jpg"
	linkURL="images/14_UH_Infonavit_San_Francisco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/14_UH_Infonavit_San_Francisco.jpg">
    <title><![CDATA[14_UH_Infonavit_San_Francisco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/15_UH_Infonavit_San_Francisco.jpg"
	thumbURL="thumbs/15_UH_Infonavit_San_Francisco.jpg"
	linkURL="images/15_UH_Infonavit_San_Francisco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/15_UH_Infonavit_San_Francisco.jpg">
    <title><![CDATA[15_UH_Infonavit_San_Francisco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/16_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/16_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/16_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/16_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[16_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/17_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/17_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/17_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/17_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[17_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/18_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/18_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/18_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/18_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[18_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/19_UH_Infonavit_San_Lorenzo.jpg"
	thumbURL="thumbs/19_UH_Infonavit_San_Lorenzo.jpg"
	linkURL="images/19_UH_Infonavit_San_Lorenzo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/19_UH_Infonavit_San_Lorenzo.jpg">
    <title><![CDATA[19_UH_Infonavit_San_Lorenzo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20_UH_Infonavit_Miguel_Lerdo_de_Tejada.jpg"
	thumbURL="thumbs/20_UH_Infonavit_Miguel_Lerdo_de_Tejada.jpg"
	linkURL="images/20_UH_Infonavit_Miguel_Lerdo_de_Tejada.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/20_UH_Infonavit_Miguel_Lerdo_de_Tejada.jpg">
    <title><![CDATA[20_UH_Infonavit_Miguel_Lerdo_de_Tejada]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/21_UH_Infonavit_Pedregal_de_Carrasco.jpg"
	thumbURL="thumbs/21_UH_Infonavit_Pedregal_de_Carrasco.jpg"
	linkURL="images/21_UH_Infonavit_Pedregal_de_Carrasco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/21_UH_Infonavit_Pedregal_de_Carrasco.jpg">
    <title><![CDATA[21_UH_Infonavit_Pedregal_de_Carrasco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/22_UH_Infonavit_Cuemanco.jpg"
	thumbURL="thumbs/22_UH_Infonavit_Cuemanco.jpg"
	linkURL="images/22_UH_Infonavit_Cuemanco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/22_UH_Infonavit_Cuemanco.jpg">
    <title><![CDATA[22_UH_Infonavit_Cuemanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/23_UH_Infonavit_Cuemanco.jpg"
	thumbURL="thumbs/23_UH_Infonavit_Cuemanco.jpg"
	linkURL="images/23_UH_Infonavit_Cuemanco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/23_UH_Infonavit_Cuemanco.jpg">
    <title><![CDATA[23_UH_Infonavit_Cuemanco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/24_UH_Infonavit_Culhuacan.jpg"
	thumbURL="thumbs/24_UH_Infonavit_Culhuacan.jpg"
	linkURL="images/24_UH_Infonavit_Culhuacan.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/24_UH_Infonavit_Culhuacan.jpg">
    <title><![CDATA[24_UH_Infonavit_Culhuacan]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/25_UH_Infonavit_Toreo.jpg"
	thumbURL="thumbs/25_UH_Infonavit_Toreo.jpg"
	linkURL="images/25_UH_Infonavit_Toreo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/25_UH_Infonavit_Toreo.jpg">
    <title><![CDATA[25_UH_Infonavit_Toreo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/26_UH_Infonavit_Toreo.jpg"
	thumbURL="thumbs/26_UH_Infonavit_Toreo.jpg"
	linkURL="images/26_UH_Infonavit_Toreo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/26_UH_Infonavit_Toreo.jpg">
    <title><![CDATA[26_UH_Infonavit_Toreo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/27_UH_Infonavit_Toreo.jpg"
	thumbURL="thumbs/27_UH_Infonavit_Toreo.jpg"
	linkURL="images/27_UH_Infonavit_Toreo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/27_UH_Infonavit_Toreo.jpg">
    <title><![CDATA[27_UH_Infonavit_Toreo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/28_UH_Infonavit_Toreo.jpg"
	thumbURL="thumbs/28_UH_Infonavit_Toreo.jpg"
	linkURL="images/28_UH_Infonavit_Toreo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/28_UH_Infonavit_Toreo.jpg">
    <title><![CDATA[28_UH_Infonavit_Toreo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/29_UH_Infonavit_Toreo.jpg"
	thumbURL="thumbs/29_UH_Infonavit_Toreo.jpg"
	linkURL="images/29_UH_Infonavit_Toreo.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/29_UH_Infonavit_Toreo.jpg">
    <title><![CDATA[29_UH_Infonavit_Toreo]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/30_UH_Infonavit_Iztacalco.jpg"
	thumbURL="thumbs/30_UH_Infonavit_Iztacalco.jpg"
	linkURL="images/30_UH_Infonavit_Iztacalco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/30_UH_Infonavit_Iztacalco.jpg">
    <title><![CDATA[30_UH_Infonavit_Iztacalco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/31_UH_Infonavit_Nativitas.jpg"
	thumbURL="thumbs/31_UH_Infonavit_Nativitas.jpg"
	linkURL="images/31_UH_Infonavit_Nativitas.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/31_UH_Infonavit_Nativitas.jpg">
    <title><![CDATA[31_UH_Infonavit_Nativitas]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/32_UH_Infonavit_Nativitas.jpg"
	thumbURL="thumbs/32_UH_Infonavit_Nativitas.jpg"
	linkURL="images/32_UH_Infonavit_Nativitas.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/32_UH_Infonavit_Nativitas.jpg">
    <title><![CDATA[32_UH_Infonavit_Nativitas]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/33_UH_Infonavit_Hueso_Periferico.jpg"
	thumbURL="thumbs/33_UH_Infonavit_Hueso_Periferico.jpg"
	linkURL="images/33_UH_Infonavit_Hueso_Periferico.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/33_UH_Infonavit_Hueso_Periferico.jpg">
    <title><![CDATA[33_UH_Infonavit_Hueso_Periferico]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/34_UH_Infonavit_Hueso_Periferico.jpg"
	thumbURL="thumbs/34_UH_Infonavit_Hueso_Periferico.jpg"
	linkURL="images/34_UH_Infonavit_Hueso_Periferico.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/34_UH_Infonavit_Hueso_Periferico.jpg">
    <title><![CDATA[34_UH_Infonavit_Hueso_Periferico]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/35_UH_Infonavit_Prados_Churubusco.jpg"
	thumbURL="thumbs/35_UH_Infonavit_Prados_Churubusco.jpg"
	linkURL="images/35_UH_Infonavit_Prados_Churubusco.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/35_UH_Infonavit_Prados_Churubusco.jpg">
    <title><![CDATA[35_UH_Infonavit_Prados_Churubusco]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/36_UH_Infonavit_San_Fe.jpg"
	thumbURL="thumbs/36_UH_Infonavit_San_Fe.jpg"
	linkURL="images/36_UH_Infonavit_San_Fe.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/36_UH_Infonavit_San_Fe.jpg">
    <title><![CDATA[36_UH_Infonavit_San_Fe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/37_UH_Infonavit_San_Fe.jpg"
	thumbURL="thumbs/37_UH_Infonavit_San_Fe.jpg"
	linkURL="images/37_UH_Infonavit_San_Fe.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/37_UH_Infonavit_San_Fe.jpg">
    <title><![CDATA[37_UH_Infonavit_San_Fe]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/38_UH_Infonavit_Tejocotes.jpg"
	thumbURL="thumbs/38_UH_Infonavit_Tejocotes.jpg"
	linkURL="images/38_UH_Infonavit_Tejocotes.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/38_UH_Infonavit_Tejocotes.jpg">
    <title><![CDATA[38_UH_Infonavit_Tejocotes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/39_UH_Infonavit_Tejocotes.jpg"
	thumbURL="thumbs/39_UH_Infonavit_Tejocotes.jpg"
	linkURL="images/39_UH_Infonavit_Tejocotes.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/39_UH_Infonavit_Tejocotes.jpg">
    <title><![CDATA[39_UH_Infonavit_Tejocotes]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/40_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/40_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/40_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/40_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[40_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/41_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/41_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/41_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/41_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[41_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/42_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/42_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/42_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/42_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[42_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/43_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/43_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/43_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/43_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[43_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/44_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/44_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/44_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/44_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[44_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/45_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/45_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/45_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/45_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[45_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/46_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/46_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/46_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/46_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[46_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/47_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/47_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/47_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/47_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[47_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/48_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/48_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/48_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/48_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[48_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/49_UH_Infonavit_El_Rosario.jpg"
	thumbURL="thumbs/49_UH_Infonavit_El_Rosario.jpg"
	linkURL="images/49_UH_Infonavit_El_Rosario.jpg"
	linkTarget="_blank"
	sourcePath="/Users/joserodriguez/Documents/Clientes/Infonavit/Galerías/49_UH_Infonavit_El_Rosario.jpg">
    <title><![CDATA[49_UH_Infonavit_El_Rosario]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>
