body {
  font-family: Montserrat, serif;
  margin: 0;
}

.site-navigation {
  background-color: #DD052B;
  overflow: hidden;
}

.site-navigation a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.site-navigation a:hover {
  background-color: transparent;
  color: white;
}

.site-navigation a.active {
  background-color: #04AA6D;
  color: white;
}

.site-navigation .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .site-navigation a:not(.icon) {
    display: none;
  }

  .site-navigation a.icon {
    float: right;
    display: block;
  }

  .site-navigation.responsive a:not(.icon) {
    display: block;
    text-align: left;
  }

  .site-navigation.responsive .nav__container__list--dropDown {
    display: none;
  }

  .site-navigation.responsive .nav__container__list--subMenu {
    display: block;
  }
}

@media screen and (min-width: 601px) {
  .site-navigation .nav__container__list--dropDown,
  .site-navigation .nav__container__list--subMenu {
    display: none;
  }

  .site-navigation .nav__container__list--subMenuParent:hover .nav__container__list--subMenu {
    display: block;
  }
}
